<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pastel de Papa</title>
</head>

<body>
    <h1>Receta de Pastel de Papa</h1>
    <p>descripcion de receta</p>
    <hr>
    <h2>Lista de ingredientes</h2>
    <ul>
        <li>Carne</li>
        <li>Cebolla</li>
        <li>Papas</li>
        <li>Queso</li>
        <li>Especias</li>
    </ul>
    <h2>Lista de pasos</h2>
    <ol type="i">
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad voluptatum enim, praesentium unde doloremque commodi voluptate omnis velit dicta rem, aspernatur alias officia, deserunt ex? Laboriosam minus nihil quam reprehenderit!</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad voluptatum enim, praesentium unde doloremque commodi voluptate omnis velit dicta rem, aspernatur alias officia, deserunt ex? Laboriosam minus nihil quam reprehenderit!</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad voluptatum enim, praesentium unde doloremque commodi voluptate omnis velit dicta rem, aspernatur alias officia, deserunt ex? Laboriosam minus nihil quam reprehenderit!</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad voluptatum enim, praesentium unde doloremque commodi voluptate omnis velit dicta rem, aspernatur alias officia, deserunt ex? Laboriosam minus nihil quam reprehenderit!</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad voluptatum enim, praesentium unde doloremque commodi voluptate omnis velit dicta rem, aspernatur alias officia, deserunt ex? Laboriosam minus nihil quam reprehenderit!</li>
    </ol>
    <a href="https://www.paulinacocina.net/pastel-de-papas/15" target="_blank">
        Leer esta receta en <strong>Paulina Cocina</strong>
    </a>
    <br>
    <a href="peras-al-malbec.html">
        Leer receta de <em>Peras al Malbec</em>
    </a>
    <br>
    <a href="../../index.html">
        Volver al inicio
    </a>
</body>
</html>