<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peras al Malbec</title>
</head>

<body>
    <h1>Receta de Peras al Malbec</h1>
    <p>descripcion de receta</p>
    <hr>
    <h2>Lista de ingredientes</h2>
    <ul>
        <li>Peras</li>
        <li>Malbec</li>
        
    </ul>
    <h2>Lista de pasos</h2>
    <ol type="i">
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad voluptatum enim, praesentium unde doloremque commodi voluptate omnis velit dicta rem, aspernatur alias officia, deserunt ex? Laboriosam minus nihil quam reprehenderit!</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad voluptatum enim, praesentium unde doloremque commodi voluptate omnis velit dicta rem, aspernatur alias officia, deserunt ex? Laboriosam minus nihil quam reprehenderit!</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad voluptatum enim, praesentium unde doloremque commodi voluptate omnis velit dicta rem, aspernatur alias officia, deserunt ex? Laboriosam minus nihil quam reprehenderit!</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad voluptatum enim, praesentium unde doloremque commodi voluptate omnis velit dicta rem, aspernatur alias officia, deserunt ex? Laboriosam minus nihil quam reprehenderit!</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad voluptatum enim, praesentium unde doloremque commodi voluptate omnis velit dicta rem, aspernatur alias officia, deserunt ex? Laboriosam minus nihil quam reprehenderit!</li>
    </ol>
    <a href="https://www.paulinacocina.net/receta-de-peras-al-vino-tinto/35311">
        Leer esta receta en <strong>Paulina Cocina</strong>
    </a>
    <br>
    <a href="pastelDePapa.html">
        Leer receta de <em>Pastel de Papa</em>
    </a>
    <br>
    <a href="../../index.html">
        Volver al inicio
    </a>
</body>
</html>